@charset "UTF-8";

/*--------Put Your Custom CSS Rules Below--------*/
/*--- This oneoff overrides the code in https://github.com/oreillymedia/<name_of_theme>/blob/master/pdf/pdf.css---*/

nav[data-type="toc"] > h1 {
  margin-bottom: 1.2in;
}


pre[data-type="programlisting"] {
  text-align: left;
}


/* roman (reverse emphasis) on varlist terms*/
.plain {
  font-style: normal;
}


/*--Adjusting padding in index to avoid bad break--*/
@page index:first { /* first page */
   padding-bottom: 0.1in;
}

@page index: { 
   padding-bottom: 0.1in;
}


/*--Adjusting padding in TOC to avoid bad break--*/
@page toc:first { /* first page */
   padding-bottom: 0.1in;
}

@page toc: { 
   padding-bottom: 0.1in;
}


/*--Table lines--*/
table td.right, th.right { border-right: 0.25pt solid cmyk(0%,0%,0%,100%); }


td.fakeheader {
  font-family: "MyriadPro-SemiboldCond" !important;
  font-weight: 600 !important;
  color: White !important;
  background-color: Black !important;
  border: 0pt solid cmyk(0%,0%,0%,100%);
}


/* tighten tracking for paragraphs */
.fix_tracking { letter-spacing: -0.1pt; }
.fix_tracking2 { letter-spacing: -0.2pt; }
.fix_tracking3 { letter-spacing: -0.3pt; }

/* less space for pagebreaks (STYL-1620) */
.less_space,
.less_space > h5:first-child,
dl.less_space > dt:first-child,
section.less_space > h3:first-child,
section.less_space > h2:first-child,
section.less_space > h1:first-child { 
  margin-top: 0 !important; 


  /* right and center align options for table cells */
p.center { text-align: center; }



/*hack to align sidebars to top of page*/
.less_space {margin-top: 0 !important;}

.less_space_heading > h2 {margin-top: 0 !important;}
.less_space_h1 > h1 {margin-top: 0 !important;}

/* Variable widths */
:not(figure).width-10,
figure.width-10 img { width: 10% !important; }
:not(figure).width-20,
figure.width-20 img { width: 20% !important; }
:not(figure).width-25,
figure.width-25 img { width: 25% !important; }
:not(figure).width-30,
figure.width-30 img { width: 30% !important; }
:not(figure).width-40,
figure.width-40 img { width: 40% !important; }
:not(figure).width-50,
figure.width-50 img { width: 50% !important; }
:not(figure).width-60,
figure.width-60 img { width: 60% !important; }
:not(figure).width-70,
figure.width-70 img { width: 70% !important; }
:not(figure).width-75,
figure.width-75 img { width: 75% !important; }
:not(figure).width-80,
figure.width-80 img { width: 80% !important; }
:not(figure).width-90,
figure.width-90 img,
figure.width-ninety img { width: 90% !important; }
:not(figure).width-100,
figure.width-100 img { width: 100% !important; }


/*class to adjust the space of code listings to fix page break*/
pre.c_less_space {
  margin: 0 0 4pt 17pt;
  line-height: 110%;
}

pre.c_less_space2 {
  margin: 0 0 4pt 17pt;
  line-height: 105%;
}

/*--left align paragraph for credits--*/
p.left-align{
  text-align: left;
}

/*----Uncomment to temporarily turn on code-eyballer highlighting (make sure to recomment after you build)
pre {
 background-color: yellow;
}---*/



/*----Uncomment to turn on automatic code wrapping

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

  dl.test {
    text-align: left;
    margin-left: 64.79pt;
  }----*/

/* two column list */
ul.twocolumn {
    column-count: 2;
    column-gap: 15pt;
    column-fill: balance;
    widows: 0;
    orphans: 0;
  }
  
/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)

@page toc:first {
  counter-reset: page 6;
}
----*/

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] h1 {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

section[data-type="titlepage"] h2 {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] p.author {
  padding-left: 3in;
}
----*/
