@charset "UTF-8";

@import "DYNAMIC CSS PLACEHOLDER";

/*--------Put Your Custom CSS Rules Below--------*/

/*----Uncomment to turn on automatic code wrapping----*/

pre.programlisting, pre.screen, pre.literallayout {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
}

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)----*/

@page tableofcontents:first {
  counter-reset: page 6;
}

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

div.book div.booktitlepage h1.title {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

div.book div.booktitlepage h2.subtitle {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

p.titlepageauthor {
  padding-left: 3in;
}
----*/

/*----Uncomment to suppress colophon, show only 
      "About the Authors"

div.colophon {
  display: none;
}
----*/