td.fakeheader {
    font-family: "MyriadPro-SemiboldCond" !important;
    font-weight: 600 !important;
    color: White !important;
    background-color: Black !important;
    border: 0pt solid cmyk(0%,0%,0%,100%);
  }

  /*--Table lines--*/
table td.right, th.right { border-right: 0.25pt solid cmyk(0%,0%,0%,100%); }


/* roman (reverse emphasis) on varlist terms*/
.plain {
  font-style: normal;
}

/* roman (reverse emphasis) on praise page*/
.plainpraise {
  font-style: normal;
}
