td.fakeheader {
    font-family: "MyriadPro-SemiboldCond" !important;
    font-weight: 600 !important;
    color: White !important;
    background-color: Black !important;
    border: 0pt solid cmyk(0%,0%,0%,100%);
  }